<div class="chat-badge">
  <ng-container [ngSwitch]="lastLoadOutcome">
    <ng-container *ngSwitchCase="LastLoadOutcome.TRUE">
      <span class="icon updated">✔︎</span>
      <span class="label">Aggiornato</span>
    </ng-container>
    <ng-container *ngSwitchCase="LastLoadOutcome.FALSE">
      <span class="icon not-updated">⚠</span>
      <span class="label">Da aggiornare</span>
    </ng-container>
    <ng-container *ngSwitchCase="LastLoadOutcome.ERROR">
      <span class="icon not-updated">!</span>
      <span class="label">Errore</span>
    </ng-container>
  </ng-container>
</div>
