<div class="chat-container">
  <!-- HEADER -->
  <app-chat-header></app-chat-header>

  <!-- MESSAGGI -->
  <app-chat-messages
    [messages]="messages"
    [isLoading]="isLoading"
    (isScrolledUp)="onScrollChange($event)"
  ></app-chat-messages>

  <!-- SUGGERIMENTI -->
  <app-chat-suggestions
  [question]="lastUserQuestion"
  [answer]="lastBotAnswer"
  [hideSuggestions]="hideSuggestions"
  (suggestionClicked)="onSuggestionClicked($event)"
></app-chat-suggestions>


  <!-- INPUT -->
  <app-chat-input
    [isLoading]="isLoading"
    (sendMessage)="onSendMessage($event)"
  ></app-chat-input>
</div>
