.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-chat-header {
  flex: 0 0 auto;
}

app-chat-messages {
  flex: 1 1 auto;
  min-height: 0;
}

app-chat-suggestions {
  z-index: 999;
  flex: 0 0 auto;
}

app-chat-input {
  z-index: 999;
  flex: 0 0 auto;
}

app-chat-actions {
  flex: 0 0 auto;
}
