.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-chat-header {
    flex: 0 0 auto;
  }

  app-chat-messages {
    flex: 1 1 auto;
    min-height: 0;
    padding-bottom: 115px;
  }

  app-chat-suggestions {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 55px;
    z-index: 999;
  }

  app-chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}
