.messages {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 4rem;
  background-color: #2a2a2a;
  border-radius: 8px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #367cc8;
    border-radius: 4px;
  }
}

.message {
  align-self: flex-start;
  position: relative;
  margin-bottom: 1rem;

  padding: 0.75rem 1rem;
  border-radius: 16px;
  background-color: #1e1e1e;
  font-size: 14px;
  word-wrap: break-word;
  max-width: 75%;

  &.user-message {
    align-self: flex-end;
    background-color: #0078d7;
    color: #ffffff;
    margin-left: auto;
    text-align: right;
  }

  &.bot-message {
    align-self: flex-start;
    background-color: #444444;
    color: #eaeaea;
    margin-right: auto;
    text-align: left;
    padding-right: 2.5rem; 
  }

  .sender {
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 0.3rem;
  }

  .text {
    display: block;
  }

  &.loading-placeholder {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
  }
}

:host ::ng-deep .code-container {
  position: relative;
  background-color: #333;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 4px;
}

:host ::ng-deep .code-container pre {
  margin: 0;
  font-family: monospace;
  color: #fff;
}

:host ::ng-deep .mat-icon {
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  overflow: hidden;
}

:host ::ng-deep .copy-snippet-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
  user-select: none;
  z-index: 2;
}

:host ::ng-deep .copy-snippet-icon.snippet-copied:before {
  content: '\2713';
  margin-right: 5px;
}

:host ::ng-deep .copy-snippet-icon.snippet-copied {
  animation: checkAnimation 0.5s;
}

.copy-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  user-select: none;
}

.copy-icon.copied {
  animation: checkAnimation 0.5s;
}

@keyframes checkAnimation {
  0%   { transform: scale(1);   color: #fff; }
  50%  { transform: scale(1.4); color: #0f0; }
  100% { transform: scale(1);   color: #fff; }
}
