<div #scrollMe class="messages" (scroll)="onScroll()">
  <div
    class="message"
    *ngFor="let msg of messages"
    [ngClass]="{
      'user-message': msg.sender === messageSender.USER,
      'bot-message': msg.sender === messageSender.CHATBOT
    }"
  >
    <span
      *ngIf="msg.sender === messageSender.CHATBOT"
      class="copy-icon"
      [ngClass]="{ 'copied': msg.copied }"
      [innerHTML]="msg.copied ? '✔' : '📋'"
      (click)="copyToClipboard(msg)"
      title="Copia l'intero messaggio"
    ></span>
    <span class="text" [innerHTML]="msg.sanitizedContent || msg.content"></span>
  </div>

  <div *ngIf="isLoading" class="message bot-message loading-placeholder">
    <app-chat-loading-indicator></app-chat-loading-indicator>
    <span class="text"></span>
  </div>
</div>
